@{
    ViewBag.Title = "Org.Net";
    ViewBag.Header = "Org.Net";
    ViewBag.SubHeader = "An org-mode inspired issue tracker.";
}

@section featured {
    <section class="featured">
        @Html.Partial("PageHeader")
    </section>
}
<div class="container">
    <h3><a href="@Url.Action("Index", "Node")">View all parent nodes</a></h3>
</div>