@model IEnumerable<orgnet.Models.Node>

@{
    ViewBag.Title = "Org.Net";
    ViewBag.Header = "Parent Tasks";
}

@Html.Partial("PageHeader");

<div class="container">
    <ul id="node-list">
        @foreach (var node in Model) {
            <li>
                <h3>
                    <a href="@Url.Action("Tree", "Node", new { id = node.Id})">@node.Title</a>
                </h3>
            </li>
        }
    </ul>
</div>