@model IEnumerable<orgnet.Models.Node>

@{
    ViewBag.Title = "Org.Net";
}

@Html.Partial("PageHeader", new { header = "Parent Tasks", subHeader =  })

<div class="container">
    <ul id="node-list">
        @foreach (var node in Model) {
            <li>
                <a href="@Url.Action("Tree", "Node", new { id = node.Id})">@node.Title</a>
            </li>
        }
    </ul>
</div>