<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://orgnet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <AzureAuthenticationAppPrincipalID />
    <AzureAuthenticationTenantID />
    <AzureAuthenticationReplyUrl />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>orgnet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$orgnet</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="orgnet.mvc.Models.OrgContext" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-orgnet.mvc-20130214132117.mdf;Initial Catalog=aspnet-orgnet.mvc-20130214132117;Integrated Security=True" Name="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-orgnet.mvc-20130214132117;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-orgnet.mvc-20130214132117.mdf" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="orgnet.mvc.Models.OrgContext, orgnet.mvc" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)orgnet.mvc.Models.OrgContext-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-orgnet.mvc-20130214132117;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-orgnet.mvc-20130214132117.mdf</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="orgnet.mvc.Models.OrgContext" />
  </ItemGroup>
</Project>